body {
    font-family: "Oxanium", cursive;
    background-color: #0e8243;

}

nav{
    display: flex;
    background-color: white;
    height: 55px;

}

ul{
    display: table;
    height: 100%;
    width: 100%; 
}

li{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
 
}


.historico {
    color: white;
    text-align: justify;
    margin: 0.5%;
}

.titulo_1 {
    text-align: center;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.titulo_2 {
    margin-top: 2%;
    text-transform: uppercase;
}

.img_logo{
    margin-left: 0.5%;
    margin-top: 0.1%;
    height: 50px;
}

main{
    display: flex;
    height: 100%;
    width: 100%;
}



.img_folder{
    display: flex;
    margin-top: 0.5%;
    margin-right: 0.5%;
    height: 400px;

}