body {
    font-family: "Oxanium", cursive;
    background-color: #0e8243;

}

nav{
    display: flex;
    background-color: white;

}

ul{
    display: table;
    height: 100%;
    width: 100%;
    
}

li{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
 
}

.img_logo{
    height: 50px;
}
