body {
    font-family: "Oxanium", cursive;
    background-color: #0e8243;

}

nav{
    display: flex;
    background-color: white;
    height: 55px;

}

ul{
    display: table;
    height: 100%;
    width: 100%;
    
}

li{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
 
}


.img_logo{
    margin-left: 0.5%;
    margin-top: 0.1%;
    height: 50px;
}
